body {
   background-color: teal;
}

h1 {
    position: relative;
    color: darkblue;
    size: 200px;
    float: right 400px;
}
input[type=radio] {
    border: 0px;
    width: 20px;
    height: 2em;
}
