body {
    background: url("../images/pos.png");
    font-style: color white; 
}


h1 {
    position: relative;
    color: turquoise;
    size: 200px;
    float: right 400px;
}

input[type=radio] {
    border: 0px;
    width: 20px;
    height: 2em;
}
